[submodule "jsoncons"]
	path = external/jsoncons
	url = https://github.com/danielaparker/jsoncons
[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr.git
